<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8"> -->
    <title>Decoda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Basic Global javascript and css-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "main" %>
    <%= stylesheet_link_tag "theme.min" %>

    <!--<link rel='stylesheet' id='pe_theme_compressed-css'  href='http://weareants.fr/wp-content/themes/visia/theme/compressed/theme.min.css?ver=1444283240' type='text/css' media='all' /> -->
    <!--<link rel='stylesheet' id='pe_theme_init-css'  href='http://weareants.fr/wp-content/themes/visia/style.css?ver=1444283240' type='text/css' media='all' />-->

     <!-- leaflet css and java script -->
    <%= stylesheet_link_tag href="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" , media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js" , "data-turbolinks-track" => true %>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="screen" rel="stylesheet" />

    <!-- fontmarker and integration to leaflet -->
    <%= stylesheet_link_tag href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"  %>
    <link rel="stylesheet" href="dist/leaflet.awesome-markers.css">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <script src="dist/leaflet.awesome-markers.js"></script>
    <script href="/application-11e91eca62504b11c24a0e36acbb5534.css"></script>

    <!-- integrating google map and leaflet -->
    <%= javascript_include_tag "//matchingnotes.com/javascripts/leaflet-google.js", "data-turbolinks-track" => true %>

    <!--<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.2&sensor=false", "data-turbolinks-track" => true %>-->
    <script src="http://maps.google.com/maps/api/js?v=3.23"></script>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!-- <%= csrf_meta_tags %> -->

    <!-- head pour le graph -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="http://veille-eau.com/favicon.ico" />

  <!-- head récupéré tel quel chez ANts -->

  <!-- Basic Global javascript and css-->
  <!--  <script href="/application-11e91eca62504b11c24a0e36acbb5534.css" rel="stylesheet"> </script>-->
  <!--  <script href="/application-7bb7ee6f48327912a4e3f3506890746c.js" type="text/javascript"> </script>-->

      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
      <meta name="format-detection" content="telephone=no" /> -->

      <!--[if lt IE 9]>
      <script type="text/javascript">/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/</script>
      <![endif]-->
      <!-- <script type="text/javascript">if(Function('/*@cc_on return document.documentMode===10@*/')()){document.documentElement.className+=' ie10';}</script>
      <script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
      <link rel="pingback" href="http://weareants.fr/xmlrpc.php" />
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700&amp;subset=latin,latin-ext"> -->

      <!-- wp_head() -->
      <!-- <link rel="alternate" type="application/rss+xml" title="We Are Ants &raquo; Feed" href="http://weareants.fr/feed/" />
      <link rel="alternate" type="application/rss+xml" title="We Are Ants &raquo; Comments Feed" href="http://weareants.fr/comments/feed/" />
      <link rel="alternate" type="application/rss+xml" title="We Are Ants &raquo; HOMEFR Comments Feed" href="http://weareants.fr/homefr/feed/" />
        <script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/weareants.fr\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.4"}};
            !function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;return g&&g.fillText?(g.textBaseline="top",g.font="600 32px Arial","flag"===a?(g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3):"diversity"===a?(g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e):("simple"===a?g.fillText(h(55357,56835),0,0):g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
        </script> -->


<!--
<link rel='stylesheet' id='pe_theme_compressed-css'  href='http://weareants.fr/wp-content/themes/visia/theme/compressed/theme.min.css?ver=1444283240' type='text/css' media='all' />
<link rel='stylesheet' id='pe_theme_init-css'  href='http://weareants.fr/wp-content/themes/visia/style.css?ver=1444283240' type='text/css' media='all' />
-->
<!-- <script type='text/javascript' src='http://weareants.fr/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='http://weareants.fr/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel='https://api.w.org/' href='http://weareants.fr/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://weareants.fr/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://weareants.fr/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.4.4" />
<link rel="canonical" href="http://weareants.fr/homefr/" />
<link rel='shortlink' href='http://weareants.fr/?p=591' />
<link rel="alternate" type="application/json+oembed" href="http://weareants.fr/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fweareants.fr%2Fhomefr%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://weareants.fr/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fweareants.fr%2Fhomefr%2F&#038;format=xml" />
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style type="text/css">body,.form-field span input,.form-field span textarea,.form-click input{font-family:'Open Sans';}</style>
<script type="text/javascript">  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-73037209-1', 'auto');
ga('send', 'pageview');
</script> -->


</head>


<!--<stylesheet_link_tag "main" %>-->
<body class="page page-id-591 page-parent page-template page-template-page_home page-template-page_home-php">
<!-- fin de head récupéré tel quel chez ANts -->


<body id="<%= params[:controller]+"-"+params[:action] %>">


<!--<section>
<%= render partial: "/layouts/header" %>
</section>-->

<section>
<%= render partial: "/layouts/navigation" %>
</section>

 <section>
<%= render partial: "/layouts/intro" %>
</section>

<section>
    <%= render partial: "/layouts/enSavoirPlus" %>
</section>


<section class = "carte" >
    <%= render partial: "/layouts/carte" %>
</section>

<section>
  <div class ="graph">
  <%= render partial: "/layouts/graph" %>
</section>


<section>
  <%= render partial: "/layouts/accessData" %>
</section>


<section>
  <%= render partial: "/layouts/partenaires" %>
</section>

<section>
  <%= render partial: "/layouts/contact" %>
</section>

<!--
<section>
  <%= render partial: "/layouts/footer" %>
</section>
-->

</body>


</html>
